<html>
<head></head>
<body>
<h2>My Lists</h2>



<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %>
      <div class="add-task"><%= link_to '+ Add Task', new_task_list_task_path(task_list) %></div>
    </h1>
    <% @tasks.each do |task| %>
      <% if task.task_list_id == task_list.id %>
        <% if task.completed.nil? %>
          <div class="task-single">
            <%= task.description %>
            (<%= time_ago_in_words(task.due_date) %>)
            <div class = "button-task-complete"><%= link_to 'Complete', task_list_task_path(task.task_list_id, task), method: :put %></div>
          </div>
          <br>
        <% end %>
      <% end %>
      </section>

    <% end %>
<% end %>

</body>
</html>